 <div class="app__container">
    <div class="app_body">
      <div class="app_header box">
        <div class="video_container circle">
          <video playsinline autoplay id="video" class="circle"></video>
        </div>
        <div class="app_picture">
          <canvas id="canvas"></canvas>
        </div>
      </div>
      <div class="app__footer box">
        <button type="button" class="app__footerButton">Delete</button>
        <p>Power by SevenGPS</p>
      </div>
    </div>
  </div>
    <script src="../../../assets/scripts/delete.js">  </script>