  <div class="app__container">
      <div class="app_body">
        <!-- video camera section -->
        <div class="app_header box">
          <div class="video_container circle">
            <video playsinline autoplay id="video" class="circle"></video>
          </div>
          <div class="app_picture">
            <canvas id="canvas"></canvas>
          </div>
        </div>
        <!-- login button and footer message section -->
        <div class="app__footer box">
          <button type="button" id="login" class="app__footerButton">login</button>
          <p>Power by SevenGPS</p>
        </div>
      </div>
    </div>
    <script src="../../../assets/scripts/verify.js">  </script>

